<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>myCordovaApp</name>
    <description>
        A sample cordova app
    </description>
    <author email="tchabaud@laposte.net"
            href="https://github.com/tchabaud/dev-mobile-training/tree/master/myCordovaApp">
        Thomas Chabaud
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="LogLevel" value="INFO"/>
</widget>
