div {
    width: 550px;
    height: 250px;
    background: url(../img/sheep.png) bottom right no-repeat, url(../img/betweengrassandsky.png);
    transition: ease 2s;
}

div:hover {
    background-position: bottom left, bottom left;
}
