
.error {
    border: solid #ff0000 !important;
}

.good {
    border: solid #00ff00 !important;
}

#smallImage {
    display: none;
    width: 60px;
    height: 60px;
}

#largeImage {
    display: none;
}
