
.error {
    border: solid #ff0000 !important;
}

.good {
    border: solid #00ff00 !important;
}

#smallImage {
    display: none;
    width: 60px;
    height: 60px;
}

#largeImage {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
